<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container ">
        <div class="d-flex justify-content-center mt-5">
            <div class="mt-5">
                    <h4>Iniciar Sesion</h4>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Email</label>
                        <input 
                            type="email" 
                            class="form-control" 
                            id="formGroupExampleInput" 
                            placeholder="Ingrese Correo"
                            [(ngModel)]="email"
                        />
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">Contraseña</label>
                        <input 
                            type="pass" 
                            class="form-control" 
                            id="formGroupExampleInput2" 
                            placeholder="Ingrese Contraseña"
                            [(ngModel)]="pass"
                        />
                    </div>
                        <button type="submit" class="btn btn-primary mt-3 justify-content-center" (click)="SignIn(email, pass)"> Iniciar Sesion</button>
                </div>
        </div>
    </div>
    
</body>
</html>