<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>Sobre Mi</h1>
				</div>
				<div class="content">
					<h3>Soy fullstack developer</h3>
					<p>soy programador hace 2 años, manejo las siguientes tecnologias: .net, react, node, c#. 
						tengo dos años de experiencia en el sector IT, tengo certificaciones en Udemy </p>
				</div>
				<div class="content">
					<h3>Proposito</h3>
					<p> Esta aplicacion fue creada con el fin de ir cumpliendo etapas para aprobar el paricial de Estructuas y algoritmos de datos</p>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="assets/sobremi.jpg">
			</div>
		</div>
	</div>

	
</body>
</html>